/*Links Settings*/
a{color:white; text-decoration:none}
a visited{color:white;}

/*Body Settings*/
body{margin: 0px; background-position: 0px 0px;background-image: url('../img/background.jpg');background-repeat: no-repeat; background-attachment: scroll; text-decoration:none;}

/*Menu Settings*/
#wrapper_head{background-image: url('../img/line_purple_horizontal.png');background-repeat: no-repeat;background-position: 1046px 123px;background-attachment: scroll;}
#menu{font-size:15px; line-height:15px; font-family:'Segoe UI'; width:320px; padding-top:98px;color:white;  text-decoration:none; text-decoration-color:white; }
#logo{padding-top:30px; width:670px;
}
.menu_spacer{width:20px;}
.content_centered{width: 1000px; margin-left: auto; margin-right: auto;}

/*Contents Settings*/
#welcome_text{padding:20px 10px 20px 10px; width:930px;}
#slider{padding:20px 10px 20px 10px; width:930px;}
h1{ color: white; font-family: 'Segoe UI'; font-style:italic; font-weight:lighter; font-size:20px; text-shadow:5px 5px 5px black;  }
h2{ color: white; font-family: 'Segoe UI'; font-style:italic; font-weight:normal; font-size:16px; text-shadow:2px 2px 3px black;  }
h3{ color: white; font-family: 'Segoe UI'; font-style:normal; font-weight:normal; font-size:12px; text-shadow:2px 2px 3px black;  }

#banner{padding:10px 10px 10px 10px;}
#footer{background: #000; background: rgba(0,0,0,.6); padding:5px 10px 5px 20px;}